  <div class="pusher"></div>
  </div>

  <footer class="primary-footer">
    <div class="container row">
      <div class="span4 ql-logo">
        <h4><a href="http://quickleft.com">a <img src="/images/ql.png"/> app</a></h4>
      </div>
    </div>
  </footer>
  <% if( user ){ %>
    <script data-main="/app/config.js" src="app/components/requirejs/require.js"></script>
  <% } %>
  </body>
</html>
