  <div class="pusher"></div>
  </div>

  <footer class="primary-footer">
    <div class="container row">
      <div class="span4 ql-logo">
        <h4><a href="http://quickleft.com">a <img src="/images/ql.png"/> app</a></h4>
      </div>
    </div>
  </footer>

  <div class="loader-container">
    <h3 class="loader"><b>L</b><b>o</b><b>a</b><b>d</b><b>i</b><b>n</b><b>g</b></h3>
  </div>

  <% if( user ){ %>
    <script data-main="/app/config.js" src="app/components/requirejs/require.js"></script>
  <% } %>
  <a href="https://github.com/wookiehangover/untaken" class="gh-ribbon"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  </body>
</html>
