<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Unavailable.at for Google Calendar</title>

    <meta name="viewport" content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0">
    <link href='http://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/untaken.css' />

  </head>
  <body class="logged-out">
    <div class="wrapper">
