<% include _header.ejs %>
<header id="main-header">
  <div class="max-width">
    <h1>You're Probably Not Available</h1>
  </div>
</header>

<div id="main" class="max-width">
  <% if( !user ){ %>
  <div class="login">
    <a href="/auth/google" class="topcoat-button--large">Login with your Google Account</a>
  </div>
  <% } else { %>
  <section class="row">
    <div class="span4">
      <div class="user">
        <h3><%= user.data.name %></h3>
        <p><%= user.data.email %></p>
        <a href="/logout" class="topcoat-button">Logout</a>
      </div>
      <div class="picker"></div>
    </div>
    <div class="availability span8"></div>
  </section>
  <% } %>
</div>

<% include _footer.ejs %>
