<% include _header.ejs %>
<header id="main-header">
  <h1 class="main">when works</h1>
  <div class="user">
    <span class="icomatic">listview</span>
    <nav>
      <p><%= user.data.email %></p>
      <a href="/logout" class="logout topcoat-button--quiet">LOGOUT</a>
    </nav>
  </div>
</header>

<div id="main" class="max-width">
  <section class="row">
    <div class="availability span8"></div>
    <div class="picker span4"></div>
  </section>
</div>

<script>
  window.userData = <%- JSON.stringify(user.data) %>
</script>
<% include _footer.ejs %>
