<% include _header.ejs %>
<div class="page-header">
  <h1>Untaken <small>You're Probably Not Available</small></h1>
</div>

<section class="row">
  <% if( !user ){ %>
    <h2 class="login"><a href="/auth/google">Login with your Google Account</h2>
  <% } else { %>
    <div class="span3">
      <h3><%= user.data.name %></h3>
      <p><b><%= user.data.email %></b></p>
      <a href="/logout" class="btn clearfix">Logout</a>
    </div>
  <% } %>

  <div class="span8 offset1 calendars">
    <div class="row">
      <div class="picker span4"></div>
      <div class="availability span4"></div>
    </div>
  </div>
</section>
<div class="embed-container">
  <iframe id="calendar-embed" src="" style="border: 0" height="400" frameborder="0" scrolling="no"></iframe>
</div>

<% include _footer.ejs %>
