<% include _header.ejs %>

<header id="main-header">
  <h1 class="main">when works</h1>
  <a href="/auth/google" class="sign-in"><strong>SIGN IN</strong> with <span class="icomatic">googleplus</span></a>
</header>

<div id="main" class="max-width landing-page">
  <h1>Find a time for your next meeting. Fast.</h1>
  <a href="/auth/google" class="signin topcoat-button--large--cta">Show me when works</a>
</div>

<% include _footer.ejs %>
