<% include _header.ejs %>

<header id="main-header">
  <h1 class="main">when works</h1>
  <a href="/auth/google" class="sign-in"><strong>SIGN IN</strong> with <span class="icomatic">googleplus</span></a>
</header>

<div id="main" class="max-width">
  <h1>Find a time for your next meeting, fast.</h1>
  <p>See of all your free time &mdash; and quit wasting it scheduling your next meeting.</p>
  <a href="/auth/google" class="signin topcoat-button--large--cta"><span class="icomatic">calendar</span> Check My Availability</a>
</div>

<% include _footer.ejs %>
