<% include _header.ejs %>

<header id="main-header">
  <h1 class="main">when works</h1>
  <a href="/auth/google" class="sign-in"><strong>SIGN IN</strong> with <span class="icomatic">googleplus</span></a>
</header>

<div id="main" class="max-width landing-page">
  <h1>Find a time for your next meeting. Fast.</h1>
  <p>When.Works instantly shows all the times you’re not booked, so you don’t have to dig through your messy calendar.</p>
  <!--<p>See of all your free time &mdash; and quit wasting it scheduling your next meeting.</p>-->
  <a href="/auth/google" class="signin topcoat-button--large--cta"><span class="icomatic">calendar</span> Show my unbooked time now</a>

  <div class="screenshot">
    <img src="/images/screenshot.png" data-alt="/images/whenworks.mp4.gif"/>
    <span class="controls">Play Demo <span class="icomatic">nextlight</span></span>
  </div>

  <div class="tout">
    <h1>Send fewer emails &amp;<br/>
    share when you're free.</h1>
    <ul>
      <li>Stop digging through your messy calendar</li>
      <li>Works with Google Calendars</li>
      <li>Search across multiple calendars</li>
    </ul>
  </div>

  <hr/>

  <div class="tout2 span6">
    <h2>How it works:</h2>
    <ol>
      <li>Select a calendar</li>
      <li>Narrow down the times you want</li>
      <li>Share when you're available. That's it!</li>
    </ol>
  </div>

  <div class="tout3 span6">
    <a href="/auth/google" class="signin topcoat-button--large--cta"><span class="icomatic">calendar</span> See when I’m available now</a>
  </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="/js/jquery.scrollmagic.min.js"></script>
<script>
  $(function(){
    var $screenshot = $('.screenshot');
    $screenshot.on('click', '*', function(e) {
      var $img = $screenshot.find('img')
      var altImg = $img.data('alt')
      var origImg = $img.attr('src')

      $img.attr('src', altImg).data('alt', origImg)
      $screenshot.toggleClass('playing');
    })

    if ($(window).width() < 767) {
      $screenshot.addClass('active');
      return;
    }

    var controller = new ScrollMagic();
    var scene = new ScrollScene({ triggerElement: '.signin', duration: 200 })
      .addTo(controller)
      .on('end', _.debounce(function(e) {
        $screenshot.removeClass('active')
      }, 100))
      .on('leave', _.debounce(function(e) {
        $screenshot.addClass('active')
      }, 100))

    $(window).scroll(function(){
      if ($(window).scrollTop() <= 40) {
        $screenshot.removeClass('active')
      }
    })

  });


</script>

<% include _footer.ejs %>
