//
// Footer
//

.primary-footer {
  width: 100%;
  height: @footerHeight;
  background: #3B3E40;
  box-sizing: border-box;
  line-height: 40px;
  padding: 0 1em;
  position: relative;

  small {
    float: right;
    a {
      color: #ccc;
      text-decoration: none;
    }
  }

}
