form {
  border-top: 1px solid #58595A;
  margin-top: 20px;
  .control-group {
    float: left;
    width: 100%;
    border-bottom: 1px solid #58595A;
    padding: 10px 0;

    label {
      display: inline-block;
      width: 100%;
      padding: 10px 0;
    }

    input, select {
      margin-bottom: 10px;
      width: 80%;
    }
  }

  .calendar-select {
    &:first-of-type button {
      display: none;
    }
  }
}

select {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #595B5B;
  background-image: none;
  box-shadow: 0 0 0 1px #303233;
  border: none;
  border-top: 2px solid #666767;
  color: #c6c8c8;
  text-shadow: 0 -1px 0 #000;
  overflow: hidden;
  font-size: 14px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: button;
}
