@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';

@import 'bootstrap/grid.less';

@import 'topcoat.less';
@import 'components/topcoat-overlay.less';

@import 'components/animations.less';
@import 'components/effeckt.button.less';
@import 'components/pickadate.less';
@import 'components/pusher.less';

input.datepicker {
  cursor: pointer;
}

body {
  // font-family: source-sans-pro, sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
  color: #F0F1F1;
  background: #4A4D4E;

  &.alt {
    background: #1F2122;
  }
}

.wrapper {
  overflow-x: hidden;
}

#main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.alt #main {
  h1 {
    font-weight: normal;
    font-size: 3.4rem;
  }

  p {
    font-size: 1.8rem;
    color: #8EA3AA;
    width: 70%;
  }

  .signin {
    margin-top: 1rem;
  }

  .screenshot {
    float: right;
    width: 60%;
    margin-bottom: -300px;
  }
}

#main-header {
  border-color: rgb(162, 162, 162);
  background: #fff;
  // color: #373435;
  width: 100%;
  background: #3B3E40;
  color: #fff;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;

  h1 {
    font-size: 28px;
    font-family: 'League Script', cursive;

    .transition(opacity 1s ease-in);

    &.alt {
      position: absolute;
      top: -20px;
      left: 0;
      .opacity(0);
    }
  }

  &.switch {
    h1.main {
      .opacity(0);
    }

    h1.alt {
      .opacity(100);
    }
  }

  .transition(all 300ms);

  .sign-in {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .user {
    position: absolute;
    right: 1rem;
    top: 1rem;

    nav {
      display: none;
      background: #3B3E40;
      position: absolute;
      padding: 1rem;
      text-align: center;

      .logout {
        width: 100%;
      }
    }

    &:hover nav {
      display: block;
      top: 50px;
      right: 0px;
    }

    .avatar {
      float: left;
      width: 50px;
      height: 50px;
    }
  }
}




.modal {
  display: none;
  &.ui-active {
    display: block;
    .topcoat-overlay-bg {
      .animate-fadeIn(200ms);
    }

    .topcoat-overlay {
      .animate-swingIn(300ms);
    }
  }
}

.show-modal {
  html, body {
    overflow: hidden;
  }
}

#copy-modal textarea {
  font-size: 22px;
  width: 100%;
}




.gh-ribbon {
  .transition(opacity 200ms);
  .opacity(50);
  &:hover {
    .opacity(100);
  }
}

@import 'pages/picker.less';
@import 'pages/availability.less';
@import 'pages/footer.less';
@import 'pages/welcome.less';

@media screen and (min-width: 650px) {
  select {
    background: #595B5B;
    box-shadow: 0 0 0 1px #303233;
    border: none;
    border-top: 2px solid #666767;
    color: #c6c8c8;
    text-shadow: 0 -1px 0 #000;
    padding: 3px 20px 4px 8px;
    -webkit-appearance: none;
  }
}

@media (max-width: 767px){

  .span4, .span8 {
    width: 88%;
  }

  .gh-ribbon, .primary-footer { display: none; }
}

@media screen and (min-width: 880px) {
  .max-width {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
  }

}
