<div class="topcoat-list__container">
  <h3 class="topcoat-list__header">Here's when you're Availabile:</h3>
  <ul class="topcoat-list">
  <% _.each(untaken, function( time, i ){ %>
    <li class="topcoat-list__item" data-orig-index="<%= i %>">
      <p><%= time %></p>
      <button class="topcoat-button" data-action="remove-item">remove</button>
    </li>
  <% }) %>
  </ul>
</div>
<br/>
<button class="topcoat-button--cta effeckt-button expand-right" data-action="copy">
  <span class="label">Copy to Clipboard</span>
  <span class="spinner"></span>
</button>

