<div class="topcoat-overlay-bg"></div>
<aside class="topcoat-overlay">
  <h1><%= this.title %></h1>
  <textarea class="topcoat-textarea" rows="6" cols="18" placeholder="Textarea"><%= this.body %></textarea>
  <div class="topcoat-overlay-buttons">
      <button role="button" class="topcoat-button" data-action="dismiss">Close</button>
  </div>
</aside>
